<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact</title>
</head>
<body>
<h1>編輯聯絡人</h1>

<form th:action="@{/edit}" th:object="${member}" method="post">
    <input type="hidden" id="id" th:field="*{id}" required>

    <label for="name">姓名:</label>
    <input type="text" id="name" th:field="*{name}" required>

    <label for="gender">性别:</label>
    <input type="text" id="gender" th:field="*{gender}" required>

    <label for="phone">電話:</label>
    <input type="text" id="phone" th:field="*{phone}" required>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>

    <label for="address">住址:</label>
    <input type="text" id="address" th:field="*{address}" required>

    <button type="submit">保存修改</button>
</form>

<a th:href="@{/member}">返回聯絡人列表</a>

</body>
</html>
